.vscode/
__pycache__/
*.npy
*.npz
build/
*.so
python/Untitled.ipynb
*/.ipynb_checkpoints/
external/
.idea/
*.log

*.pkl
temp-plot.html

\.ipynb_checkpoints/

buildr/

*.png

CMakeLists\.txt\.user
buildd/
python/data/
*.pickle
*.ipynb
Untitled-1.nb
python/*.html
